<table border="1" class="dataframe my-table" style="width: 100%; table-layout: fixed;">
  <thead>
    <tr style="text-align: center;">
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">epoch</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">ga_beneficiaries</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">ga_e6_beneficiaries</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">ga_celo_beneficiaries</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">ga_shefi_beneficiaries</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">15</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">0</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">14</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">3</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">0</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">3</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">15</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">5</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">0</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">16</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">0</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">5</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">232</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">20</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">6</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">193</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">29</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">7</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">3</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">7</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">34</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">6</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">18</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">42</td>
    </tr>
  </tbody>
</table>