<table border="1" class="dataframe my-table" style="width: 100%; table-layout: fixed;">
  <thead>
    <tr style="text-align: center;">
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">epoch</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">budget</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">budget_allocated</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">donations</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">leftover (%)</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">progress (%)</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">generosity (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">101.469</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">75.913</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">5.527</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">25.2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">74.8</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">7.3</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">138.233</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">137.941</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">3.925</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">0.2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">99.8</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2.8</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">3</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">241.301</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">239.465</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">25.484</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">0.8</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">99.2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">10.6</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">214.744</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">203.187</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4.788</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">5.4</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">94.6</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2.4</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">5</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">220.261</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">205.297</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">17.630</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">6.8</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">93.2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">8.6</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">6</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">197.785</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">195.760</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">14.313</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1.0</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">99.0</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">7.3</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">7</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">211.906</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">207.976</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4.077</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1.9</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">98.1</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2.0</td>
    </tr>
  </tbody>
</table>