<table border="1" class="dataframe my-table" style="width: 100%; table-layout: fixed;">
  <thead>
    <tr style="text-align: center;">
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">epoch</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">potential_users</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">allocators</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">donors</th>
      <th style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">turnout (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">515</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">362</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">347</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">70.3</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">586</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">366</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">332</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">62.5</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">3</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">603</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">320</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">285</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">53.1</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">4</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">593</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">303</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">279</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">51.1</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">5</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">898</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">439</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">422</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">48.9</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">6</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">982</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">479</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">455</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">48.8</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">7</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">2162</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">659</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">586</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">30.5</td>
    </tr>
    <tr>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">8</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">1296</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">365</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">336</td>
      <td style="width: 1%; text-align: center; padding: 8px; word-wrap: break-word; white-space: normal;">28.2</td>
    </tr>
  </tbody>
</table>